.button {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
  width: 260px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: $dark;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  background-color: $white;
  text-transform: uppercase;
  border: 2px solid $dark;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    width: 292px;
  }
}
