.button {
  display: inline-block;
  vertical-align: top;
  color: $text-dark;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  border: 2px solid $text-dark;
  padding-top: 16px;
  padding-right: 70px;
  padding-bottom: 16px;
  padding-left: 70px;
}
