.categories__list {
  padding: 0;
  margin: 0 auto;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.categories__item {
  box-sizing: border-box;
  min-height: 103px;
  flex-grow: 1;

  &:hover,
  &:focus {
    padding-bottom: 6px;
    margin-top: -6px;
  }

  @media (min-width: $tablet-width) {
    min-height: 119px;
    font-size: 20px;
    line-height: 30px;
  }

  &:nth-child(odd) {
    background-color: $special-first-color;
  }

  &:nth-child(even) {
    background-color: $special-second-color;
  }
}

.categories__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 260px;
  padding-top: 23px;
  padding-bottom: 32px;
  margin: 0 auto;
  color: $white;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;

  &:hover .categories__link-icon,
  &:hover .categories__link-icon {
    opacity: 0.7;
  }

  &:active .categories__link-icon {
    opacity: 0.3;
  }


  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 452px;
    margin-left: 37px;
  }
}

.categories__link-icon {
  position: absolute;
  top: 30px;
  right: 0;
  opacity: 0.5;
}
