.contacts {
  position: relative;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    min-height: 633px;
    margin: 0 auto;
  }
}

.contacts__title {
  width: 100%;
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contacts__contacts-info {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.contacts__contacts-item {
  display: flex;
  width: 334px;
  margin: 0;
}

.contacts__contacts-point {
  width: 78px;
  margin: 0;
}

.contacts__contacts-value {
  width: 257px;
  margin: 0;
}

.contacts__map {
  width: 100%;
  min-height: 454px;
  margin-bottom: 42px;
  background-image: url("../../img/map-mobile.png");
  background-repeat: no-repeat;
  background-color: $dark;
  background-position: center;

  @media (min-width: $tablet-width) {
    min-height: 457px;
    background-image: url("../../img/map-tablet.png");
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    width: 527px;
    height: auto;
    background-image: url("../../img/map-desktop.png");
  }
}

.contacts__feedback {
  margin: 0 auto;
}
