.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.copyright__text {
  margin: 0;
  margin-right: 28px;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  width: 27px;
  height: 34px;
  color: $special-first-color;

  &:hover,
  &:focus {
    color: $special-second-color-hover;
  }

  &:active {
    color: $special-second-color-hover;
    opacity: 0.3;
  }
}
