.modal-block {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($white, 0.9);
  z-index: 2;

  &--opened {
    display: block;
  }
}

.modal__size-choice {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-top: 29px;
  padding-bottom: 46px;
  text-align: center;
  background-color: $white;
  border: 1px solid $modal-border;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  z-index: 3;

  @media (min-width: $tablet-width) {
    width: 566px;
  }

  &--opened {
    display: block;
  }
}

.modal__title {
  padding-bottom: 20px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.modal__discription {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
}

.modal__list-size {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 31px;
  width: 260px;
  list-style: none;
}

.modal__size {
  display: none;
}

.modal__size:checked + label {
  border-color: $special-filter-hover;
}

.modal__size-label {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 82px;
  height: 52px;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  border: 2px solid rgba($dark, 0.1);

  &:hover,
  &:focus {
    border-color: rgba($dark, 0.3);
  }

  &:active {
    border-color: $special-filter-hover;
  }
}

.modal__add-cart-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 52px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $special-first-color;
  color: $white;
  border: none;

  @media (min-width: $tablet-width) {
    width: 350px;
  }

  &:hover,
  &:focus {
    background-color: $special-second-color-hover;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}
