.page-title {
  box-sizing: border-box;
  min-height: 177px;
  margin-bottom: 0;
  padding-top: 73px;
  background-color: $background-page-title;

  &--index {
    min-height: 283px;
    background-image: url("../img/background-index.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

    @media (min-width: $tablet-width) {
      min-height: 560px;
      padding-top: 154px;
      background-image: url("../img/background-index-tablet.jpg");
    }

    @media (min-width: $desktop-width) {
      min-height: 626px;
      padding-top: 100px;
    }
  }
}

.page-title__title {
  width: 260px;
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    font-size: 53px;
    line-height: 57px;
  }
}
