.page-header {
  display: flex;
  flex-direction: column;
  min-height: 79px;
  background-color: $white;
  border-bottom: 1px solid $header-border;
}

.page-header__logo {
  display: block;
  height: 35px;

  @media (min-width: $tablet-width) {
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    height: 72px;
  }
}

.page-header__logo img {
  width: 86px;
  height: 35px;
}
