.page-title {
  box-sizing: border-box;
  background-color: $background-dark;
  margin-bottom: 0;
  padding-top: 73px;
  padding-bottom: 74px;

  &--index {
    min-height: 283px;
    background-image: url("../../img/background-index.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }

  @media (min-width: $tablet-width) {
    min-height: 560px;
  }
}

.page-title__title {
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
