.product-table {
  color: $dark;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
}

.product-table__row {
  border-bottom: 1px solid $table-line;
}

.product-table__cell {
  padding-top: 7px;
  padding-bottom: 12px;

  &:first-child {
    width: 94px;
  }
}
