.production {
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 34px;
  margin-bottom: 56px;
  border: 1px solid $table-line;

  @media (min-width: $tablet-width) {
    display: grid;
    padding-top: 0;
    padding-bottom: 45px;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 682px 1fr;
    grid-template-rows: min-content;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 103px;
  }
}

.production__title {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 90px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-left: 106px;
    margin-bottom: 24px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    padding-left: 0;
    margin-left: 79px;
    margin-top: 46px;
    margin-right: 57px;
    margin-bottom: 25px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 33px;
    top: 12px;
    width: 32px;
    height: 22px;
    background-image: url("../img/icon-video.svg");

    @media (min-width: $tablet-width) {
      top: -3px;
      left: 41px;
    }

    @media (min-width: $desktop-width) {
left: 0;
top: 0;
    }
  }
}

.production__video {
  display: block;
  width: 260px;
  height: 150px;
  margin-bottom: 35px;
  cursor: pointer;
  background-image: url("../img/video-poster-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    order: -1;
    width: 668px;
    height: 455px;
    margin-bottom: 41px;
    background-image: url("../img/video-poster-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 682px;
    height: 455px;
    grid-row-start: 1;
    grid-row-end: 4;
    margin: 0;
    margin-bottom: 0;
  }
}

.production__text {
  margin: 0;
  margin-bottom: 41px;
  margin-right: 33px;
  margin-left: 32px;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
  padding-left: 0;
  margin-left: 79px;
  margin-bottom: 50px;
  }
}

.production__button {
  width: 192px;
  box-sizing: border-box;
  margin-right: 34px;
  margin-left: 34px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: auto;
    margin-right: 43px;
    margin-left: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-right: 56px;
    margin-bottom: 60px;
  }
}
