.product {
  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 334px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    min-height: 659px;
  }
}

.product__image {
  display: block;
  width: 260px;
  height: 195px;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.product__caption {
  box-sizing: border-box;
  padding-top: 28px;
  padding-bottom: 25px;
  padding-left: 27px;
  padding-right: 28px;
  border: 1px solid $table-line;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 335px;
    padding-left: 33px;
    padding-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    padding-left: 28px;
    width: 316px;
  }
}

.product__title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  vertical-align: bottom;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.product__parameters {
  margin: 0;
  margin-bottom: 17px;
  font-size: 13px;
  line-height: 30px;
  color: $dark;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.product__price-block {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 23px;
  border-top: 1px solid $table-line;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    margin-top: auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: auto;
  }
}

.product__price {
  margin: 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.product__button {
  display: block;
  width: 21px;
  height: 18px;
  margin: 0;
  margin-right: 3px;

  &:hover .product__button-icon,
  &:focus {
    opacity: 1;
    fill: $special-first-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__button-icon {
  opacity: 0.2;
}
