.product {
  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 334px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    min-height: 659px;
  }
}

.product__image {
  display: block;
  width: 260px;
  height: 195px;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.product__caption {
  box-sizing: border-box;
  padding-top: 29px;
  padding-bottom: 27px;
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid $table-line;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 335px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    width: 316px;
  }
}

.product__title {
  margin: 0;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.product__parameters {
  margin: 0;
  margin-bottom: 18px;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: $dark;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.product__price-block {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 23px;
  border-top: 1px solid $table-line;

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: auto;
  }
}

.product__price {
  margin: 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.product__button {
  display: block;
  width: 20px;
  height: 19px;
  margin: 0;
  background-image: url("../img/icon-cart.svg");
  color: $special-first-color;
}
