.production {
  padding-top: 22px;
  padding-bottom: 34px;
  border-top: 1px solid $table-line;

  @media (min-width: $tablet-width) {
    display: grid;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 682px 1fr;
    grid-template-rows: min-content;
  }
}

.production__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.production__video {
  grid-row-start: 1;
  grid-row-end: 4;
  cursor: pointer;
  margin-bottom: 35px;
  order: -1;
}

.production__text {
  margin-bottom: 41px;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.production__button {
  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: auto;
    margin-right: 42px;
    margin-left: 42px;
  }
}
