.reviews {
  position: relative;
  box-sizing: border-box;
  align-content: center;
  padding-top: 26px;
  padding-bottom: 51px;

  @media (min-width: $tablet-width) {
    min-height: 457px;
    padding-top: 84px;
    padding-bottom: 85px;
    background-image: url("../img/background-review.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-review@2x.jpg");
      background-size: 350px auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding-top: 78px;
    padding-bottom: 89px;
    margin: 0 auto;
  }

  .reviews__wrapper {
    @media (min-width: $desktop-width) {
      padding-left: 175px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: contain;

    @media (min-width: $tablet-width) {
      height: 17px;
      background-image: url("../img/zigzag-line-tablet.svg");
    }

    @media (min-width: $desktop-width) {
      left: 50%;
      margin-left: -525px;
      width: 1050px;
      height: 23px;
    }
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__item {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 96px;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 31px;
  color: $dark;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.reviews__author-name {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.reviews__author-nickname {
  margin: 0;
  color: $dark;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.reviews__button-control {
  display: flex;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 2px;
    right: 19px;
  }

  @media (min-width: $desktop-width) {
    bottom: 3px;
  }
}

.reviews__button-navigation {
  box-sizing: border-box;
  height: 52px;
  width: 130px;
  margin-bottom: 37px;
  padding: 0;
  font-family: inherit;
  background-color: $white;
  border: 1px solid $table-line;
  background-image: url("../img/icon-button-arrow.svg");
  background-repeat: no-repeat;
  background-position: 37px 11px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }


  &--next {
    transform: rotate(180deg);
    margin-left: -1px;
    background-position: 40px 13px;

    @media (min-width: $tablet-width) {
      margin-left: 37px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 50px;
    margin-bottom: 0;
    border: none;
    background-position: center;
  }
}

.reviews__button-add-review {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -5px;
    right: 0;
    width: 175px;
  }

  @media (min-width: $desktop-width) {
    top: 1px;
  }
}
