:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
   --basic-background-dark: #F1F1F1;
 --basic-special-first-color: #63D1BB;
  --basic-special-second-color: #56C3B2;
  --basic-text-dark: #444444;
  --basic-table-line: #ECECEC;
}
