:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-background-dark: #f1f1f1;
  --basic-special-first-color: #63d1bb;
  --basic-special-second-color: #56c3b2;
  --basic-text-dark: #444444;
  --basic-table-line: #ececec;
}
