.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;


  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    border: none;
  }
}

.social-list__item {
  margin-right: 41px;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  display: block;
}

.social-list__link-instagram {
  width: 22px;
  height: 21px;
  background-image: url("../img/icon-social-instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-list__link-facebook {
  width: 15px;
  height: 28px;
  background-image: url("../img/icon-social-facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-list__link-twitter {
  width: 23px;
  height: 20px;
  background-image: url("../img/icon-social-twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}
