.week-product {
  padding-top: 31px;
}

.week-product__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 5px;
}

.week-product__label {
  color: $special-first-color;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 20px;
}

.week-product__description {
  color: $dark;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
}

.week-product__image {
  margin-bottom: 25px;
}

.week-product__price {
  color: $dark;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
}
