.week-product__title {
  font-weight: 700;
  font-size  : 25px;
  line-height: 30px;
  margin: 0;
}


.week-product__label {
  color      : var(--basic-special-first-color);
  font-weight: 700;
  font-size  : 17px;
  line-height: 20px;
  margin: 0;
}

.week-product__description {
  color: var(--basic-text-dark);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}

.week-product__price {
  color: var(--basic-text-dark);
  font-weight: 700;
font-size: 17px;
line-height: 24px;
}
