.week-product {
  position: relative;
  padding-top: 31px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-height: 505px;
  }
}

.week-product__title {
  width: 100%;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    font-size: 53px;
    line-height: 57px;
  }
}

.week-product__label {
  display: block;
  color: $special-first-color;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    text-align: center;
    width: 100px;
    line-height: 17px;
  }

  @media (min-width: $desktop-width) {
    order: -1;
  }
}

.week-product__description {
  color: $dark;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 292px;
  }
}

.week-product__image {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 100px;
    right: 0;
  }
}

.week-product__price {
  color: $dark;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
}
