$white: #ffffff;
$black: #000000;
$background-dark: #f1f1f1;
$dark: #444444;
$table-line: #ececec;
$special-first-color: #63d1bb;
$special-second-color: #56c3b2;
$header-border: #ececec;
$footer-line: #E5E5E5;
