$white: #ffffff;
$black: #000000;
$background-dark: #f1f1f1;
$dark: #444444;
$table-line: #ececec;
$special-first-color: #63d1bb;
$special-second-color: #56c3b2;
$header-border: #ececec;
$footer-line: #e5e5e5;
$background-page-title: #f9f9f9;
$special-link-hover: #46c1ae;
$link-hover: #656565;
$special-filter-hover: #62D1BA;
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
